[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
recipe-scrapers = "*"
beautifulsoup4 = "*"
tqdm = "*"
py-eureka-client = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
